$bgColour: #131b23;
$outlinesColour: #e9f1f7;
$fillColourLight: #e7dfc6;
$highlightColour: #517b1d;
$highlightExtra: #2274A5;

.bigContainer {
    margin: auto;
    height: 500px !important;
    width: 1250px !important;
    background-color: #6582a5;
    position: absolute;
    top:  50%;
    left: 50%;
    // height: 100%;
    // width: 100%;
    transform: translate(-50%,-50%);
    font-family: var(--inter);
}

.background {
    // height: 100%;
    // width: 100%;
    background-color: #6582a5;
}

.pageContainer {
    border-radius: .5rem;
    box-shadow: .5rem .3rem .3rem #84732b;
    background-color: $bgColour;
    color: $fillColourLight;
    // padding: 1rem;
    height: 100%;
    width: 100%;
    // overflow: scroll;
}

.pageContainerOutput {
    margin: auto;
    display: flex;
    padding: 1rem 0;
    height: 100%;
    // overflow: scroll;
}

.pageContent {
    height: 100%;
    display: grid;
    // gap: .1rem;
    grid-template-rows: 25% 37.5% 25% 12.5%;
    grid-template-columns: 20% 25% 25% 10% 20%;
    grid-template-areas: "composeSection globalSection inputSection inputSection fxSection"
                         "composeSection padSection padSection padSection fxSection"
                         "composeSection padSection padSection padSection fxSection"
                         "composeSection outputSection outputSection switcherSection fxSection";
}

.poemPadStatusSection {
    grid-area: composeSection;
    margin-left: 2rem;
}

.button {
    border: 1px solid $bgColour;
    cursor: pointer;

    &:hover {
        background-color: greenyellow;
        color: $fillColourLight;
    }
}

.inputSection {
    // border: 1px solid $bgColour;
    padding: .5rem;
    grid-area: inputSection;
    display: flex;
    // flex-direction: column;
}

.globalSection {
    // border: 1px solid $bgColour;
    padding: .3rem 1rem .3rem .3rem;
    margin-right: .3rem;
    grid-area: globalSection;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "saveButtonsSection saveButtonsSection saveButtonsSection titleSection"
                         "statusMessageSection statusMessageSection formSection poemLengthSection";
    gap: .5rem;

    .saveButtonsSection {
        margin-top: 4px;
        display: flex;
        gap: 1rem;
        grid-area: saveButtonsSection;
    }

    .titleSection {
        grid-area: titleSection;
    }

    .statusMessageSection {
        grid-area: statusMessageSection;
        // display: flex;
        // gap: .2rem;
        // justify-content: space-around;
    }
    .poemLength {
        grid-area: poemLengthSection;
    }

    .formSection {
        grid-area: formSection;
        // display: flex;
        // gap: .2rem;
        // justify-content: space-around;
    }


}


.stanzaPadSection {
    // border: 1px solid $bgColour;
    grid-area: padSection;
    padding: 0;

    .toolsContainer {
        display: flex;
        // gap: 1rem;
        justify-content: space-between;
    }
}

.poemPadSection {
    // border: 1px solid $bgColour;
    grid-area: 1 / 2 / 4 / 5;
    padding: .5rem;
}

.composeSection {
    // border: 1px solid $bgColour;
    grid-area: composeSection;
    padding: .5rem;
    // display: flex;
    // flex-direction: column;
    // align-items: baseline;
}

.fxSection {
    // border: 1px solid $bgColour;
    grid-area: fxSection;
    padding: .5rem;

    .fxTypographyGrid {
        margin-top: .4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: .2rem;
    }

    .fxTypographyFlex {
        display: flex;
        gap: .2rem;
    }
}

.outputSection {
    // border: 1px solid $bgColour;
    grid-area: outputSection;
    padding: .5rem;
    display: flex;
    gap: .3rem;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.switcherSection {
    // border: 1px solid $bgColour;
    grid-area: switcherSection;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.poemContent {
    margin: auto;
    padding: 1rem;
    // width: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

.inputPadSection {
    // border: 1px solid $bgColour;
    grid-area: 1 / 2 / 5 / 5;
    padding: .5rem;
}

.line {
    width: 100%;
    color: $fillColourLight;
}
