.bigContainer {
    margin: auto;
    height: 500px !important;
    width: 1250px !important;
    background-color: pink;
    position: absolute;
    top:  50%;
    left: 50%;
    // height: 100%;
    // width: 100%;
    transform: translate(-50%,-50%);
}

.background {
    // height: 100%;
    // width: 100%;
    background-color: rgb(211, 201, 215);
}

.pageContainer {
    // margin: auto;
    background-color: #1a1a19;
    color: #fcfcf5;
    // padding: 1rem;
    height: 100%;
    width: 100%;
    // overflow: scroll;
}

.pageContainerOutput {
    margin: auto;
    display: flex;
    padding: 1rem 0;
    height: 100%;
    // overflow: scroll;
}

.pageContent {
    height: 100%;
    display: grid;
    // gap: .1rem;
    grid-template-rows: 25% 37.5% 25% 12.5%;
    grid-template-columns: 20% 25% 25% 10% 20%;
    grid-template-areas: "composeSection globalSection inputSection inputSection fxSection"
                         "composeSection padSection padSection padSection fxSection"
                         "composeSection padSection padSection padSection fxSection"
                         "composeSection outputSection outputSection switcherSection fxSection";
}

.button {
    border: 1px solid #000;
    cursor: pointer;

    &:hover {
        background-color: greenyellow;
        color: #fff;
    }
}

.inputSection {
    // border: 1px solid #000;
    padding: .5rem;
    grid-area: inputSection;
    display: flex;
    // flex-direction: column;
}

.globalSection {
    // border: 1px solid #000;
    padding: .5rem;
    grid-area: globalSection;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.stanzaPadSection {
    // border: 1px solid #000;
    grid-area: padSection;
    padding: 0;

    .toolsContainer {
        display: flex;
        // gap: 1rem;
        justify-content: space-between;
    }
}

.poemPadSection {
    // border: 1px solid #000;
    grid-area: 1 / 2 / 4 / 5;
    padding: .5rem;
}

.composeSection {
    // border: 1px solid #000;
    grid-area: composeSection;
    padding: .5rem;
    // display: flex;
    // flex-direction: column;
    // align-items: baseline;
}

.fxSection {
    // border: 1px solid #000;
    grid-area: fxSection;
    padding: .5rem;

    .fxTypographyGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: .2rem;
    }
}

.outputSection {
    // border: 1px solid #000;
    grid-area: outputSection;
    padding: .5rem;
    display: flex;
    gap: .3rem;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.switcherSection {
    // border: 1px solid #000;
    grid-area: switcherSection;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.poemContent {
    margin: auto;
    padding: 1rem;
    // width: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

.inputPadSection {
    // border: 1px solid #000;
    grid-area: 1 / 2 / 5 / 5;
    padding: .5rem;
}
