.button {
    border: 1px solid #fff;
    cursor: pointer;
    width: fit-content;
    margin: auto;
    color: #fff;

    &:hover {
        background-color: greenyellow;
        color: #fff;
    }
}

.slider {
    appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    accent-color: green; 
  }

.formSliderContainer {
    display: flex;
    flex-direction: column;
    font-size: .7rem;
}

.colourContainer {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    justify-content: center;
    align-items: center;
    font-size: .7rem;
}

// .weeButtons {
    // display: flex;
    // gap: .5rem;
    .italic {
        font-style: italic;
        padding: 0 .2rem;
        font-size: .8rem;
    }

    .mirror {
        transform: scaleX(-1);
        font-size: .8rem;
        padding: 0 .2rem;
    }
// }

