.gennyForm {
    display: flex;
    flex-direction: column;

    .checkboxContainer {
        display: flex;
        flex-direction: row;
    }


}

.button {
    border: 1px solid #000;
    cursor: pointer;
    width: fit-content;
    margin: auto;

    &:hover {
        background-color: greenyellow;
        color: #fff;
    }
}

.selected {
    background: red;
}

.inputPadSectionContainer {
    height: 100%;
    width: 100%;
}
.inputPad {
    height: 85%;
    width: 100%;
}

.fileLoad {
    input[type="file"] {
        display: none;
    }
    appearance: none;
    border: 1px solid #000;
    cursor: pointer;
    width: fit-content;
    margin: auto;

    &:hover {
        background-color: greenyellow;
        color: #fff;
    }
}

.saveLoadContainer {
    display: flex;
    gap: .2rem;
}