.gennyForm {
    display: flex;
    flex-direction: column;

    .checkboxContainer {
        display: flex;
        flex-direction: row;
    }


}

.button {
    border: 1px solid #fff;
    cursor: pointer;
    width: fit-content;
    margin: auto;
    color: #fff;
    border-radius: .5rem;
    padding: .2rem;

    &:hover {
        background-color: greenyellow;
        color: #fff;
    }
}

.selected {
    background: red;
}

.inputPadSectionContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}
.inputPad {
    height: 85%;
    width: 100%;
}

.fileLoad {
    input[type="file"] {
        display: none;
    }
    appearance: none;
    border: 1px solid #fff;
    cursor: pointer;
    width: fit-content;
    margin: auto;
    color: #fff;
    border-radius: .5rem;
    padding: .2rem;

    &:hover {
        background-color: greenyellow;
        color: #000;
    }
}

.saveLoadContainer {
    display: flex;
    gap: .2rem;
}

.urlFormContainer {
    // display: flex;
    // justify-content: space-between;
    gap: .2rem;
    width: 60%;
    
    label {
        margin-left: 1rem;
    }

    input {
        margin-right: 1rem;
    }
}

.formInput {
    input {
        width: 2rem;
    }
}