.stanzaBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(231, 237, 231, 0.906);
    border: 2px solid #000;
    // margin: auto;
    padding: 1rem;
    width: 95%;
    height: 79%;
    white-space: pre-line;
    overflow-y: scroll;

    .line-break {
        display: block; 
        white-space: pre-line;
    }

    // .wordContainer {
    //     border: 
    // }
    .word {
        cursor: pointer;
        border: 1px solid transparent;
        display: inline-block;
        margin: .1rem;
        color: #000;

        &.selected {
            border: 1px solid #000;
        }
    } 
}

.poemBox {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: rgba(205, 190, 161, 0.491);
    border: 2px solid #000;
    margin: auto;
    padding: 1rem;
    // width: 40%;
    // height: 60%;
    white-space: pre-line;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1rem;
    width: 95%;
    height: 89%;

    .controlsContainer {
        display: flex;
        flex-direction: column;
        gap: .2rem;
        align-items: flex-end;
        justify-content: center;
        padding-right: .2rem;
    }

    .stanzaContainer,
    .poemContainer {
        display: flex;

        .buttonContainer {
            display: flex;
            flex-direction: column;

            .button {
                font-size: .7rem;
            }
        }

        .stanza {
            cursor: pointer;
            width: fit-content;
            border: 1px solid #000;
            display: inline-block;
            margin: .1rem;
            padding: .5rem;
            color: #000;

            .word {
                display: inline-block;
                white-space: pre;
            }

            &.selected {
                    color: red;
            }
        } 
    }
}

.button {
    border: 1px solid #fff;
    cursor: pointer;
    height: fit-content;
    font-size: .7rem;
    padding: .02rem;
    color: #fff;

    &:hover {
        background-color: greenyellow;
        color: #000;
    }
}

.saveButton {
    border: 1px solid #fff;
    margin-right: .2rem;
    cursor: pointer;
    height: 2rem;
    font-size: 1.2rem;
    color: #fff;

    &:hover {
        background-color: greenyellow;
        color: #000;
    }
}

.disabled {
    background-color: #ccc;
    color: blue;
} 

.poemPadContainer {
    height: 70%;
}

.switcherContainer {
    height: 100%;
    width: 100%;

    .button {
        height: 100%;
        width: 100%;
    }
}

.wordBankSection {
    height: 350px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;

    .buttonContainer {
        display: flex;
        width: 100%;
        margin: auto;
    }
}

.wordBank {
    overflow-y: scroll;
    display: flex;
    background-color: rgba(243, 237, 245, 0.822);
    border: 2px solid #000;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;


    .word {
        cursor: pointer;
        border: 1px solid transparent;
        margin: .1rem;
        width: fit-content;
        height: fit-content;
        color: #000;

        &.selected {
            border: 1px solid #000;
        }
    } 
}

.injectContainer {
    display: flex;
    padding-bottom: 1rem;
    width: 100%;
    justify-content: space-between;

    .injectControlsContainer {
        font-size: .7rem;
        display: flex;
        flex-direction: column;

        .field {
            display: flex;
            gap: .3rem;
            align-items: center;
        }
    }

    .injectButton {
        height: 3rem;
        width: 6rem;
    }

}


.editField {
    height: 70%;
}
 
.stanzaPadButtonsContainer {
    // font-size: .7rem;
    display: flex;
    justify-content: space-between;
    gap: .42rem;
    padding: .2rem;
}

.populateContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    gap: .3rem;
    font-size: .7rem;

    .populateButton {
        height: 4rem;
        // width: 6rem;
    }

    .extraSettingsContainer {
        display: flex;
        justify-content: space-between;
        width: 10rem;
        gap: .1rem;
        align-items: center;
        padding-top: .3rem;
    }

    .numberInput {

        input {
            width: 2rem;
        }
        // width: 2rem;
    }
}

.wordBankButtons {
    display: flex;
    // flex-wrap: nowrap;
    // flex-grow: 1;
    margin: auto;
    align-items: stretch;
    justify-content: stretch;
    flex-basis: max-content;

    .wordBankButton {
        height: 100%;
    }
    // gap: 5rem;
}

.poemPadButtonContainer {
    display: flex;
    // justify-content: center;
    gap: .3rem;
    padding-top: .2rem;
}

.promptInput {
    width: 8rem;
    display: flex;
    align-items: baseline;
    gap: .5rem;
    margin-top: .3rem;
    
    input[type="text"] {
        appearance: none;
        width: 7rem;
    }
}

.srcInput {
    display: flex;
    width: 7rem;
    gap: .5rem;
}
