.stanzaBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(161, 205, 164, 0.491);
    border: 2px solid #000;
    margin: auto;
    padding: 1rem;
    width: 40%;
    height: 60%;
    white-space: pre-line;

    .line-break {
        display: block; 
        white-space: pre-line;
    }

    .word {
        cursor: pointer;
        border: 1px solid #000;
        display: inline-block;
        margin: .1rem;

        &.selected {
                color: red;
        }
    } 
}

.poemBox {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    background-color: rgba(205, 190, 161, 0.491);
    border: 2px solid #000;
    margin: auto;
    padding: 1rem;
    width: 40%;
    height: 60%;
    white-space: pre-line;
    overflow-x: hidden;
    overflow-y: scroll;

    .stanzaContainer,
    .poemContainer {
        display: flex;

        .buttonContainer {
            display: flex;
            flex-direction: column;
        }

        .stanza {
            cursor: pointer;
            width: fit-content;
            border: 1px solid #000;
            display: inline-block;
            margin: .1rem;

            &.selected {
                    color: red;
            }
        } 
    }
}

.button {
    border: 1px solid #000;
    cursor: pointer;
    height: fit-content;

    &:hover {
        background-color: greenyellow;
        color: #fff;
    }
}

.disabled {
    background-color: #ccc;
    color: blue;
} 

.poemPadContainer {
    height: 70%;
}