$bgColour: #131b23;
$outlinesColour: #e9f1f7;
$fillColourLight: #e7dfc6;
$highlightColour: #517b1d;
$highlightExtra: #2274A5;
$screenColour: #002400;
$disabledBg: #896978;
$disabledColour: #2E294E;
$buttonColour: #bfacc8;
$shadowColour: #c8c6d7;
$hoverColour: #e5c2c0;

.pageContainer {
    margin: auto;
    padding: 3rem;
}
.poemContainer {
    min-width: calc(100% - 4rem);
    width: fit-content;
    padding: 2rem;
    margin: auto;
}

.button {
    border: 1px solid $bgColour;
    cursor: pointer;
    width: fit-content;
    margin: auto;
    color: $screenColour;
    background-color: $buttonColour;
    box-shadow: $shadowColour 1px 1px;
    padding: .1rem;
    font-size: .7rem;
    border-radius: .2rem;

    &:hover {
        background-color: $hoverColour;
        color: $bgColour;
    }

    &.disabled {
        box-shadow: none;
        background-color: $disabledBg;
        color: $disabledColour;
        cursor: default;
    } 
}


.poemTitle {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.coloursContainer {
    display: flex;
    flex-direction: column;
    color: $fillColourLight;
    gap: .2rem;
    font-size: .7rem;
}

.mainTextGrid {
    // margin-bottom: 4rem;
    display: grid;
    width: fit-content;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    .stanza {
        padding: 1rem;
        white-space: pre;
    }

    .word {
        white-space: pre;
        display: inline-block;
    }

    .panel {
        .colourContainer {
            gap: .1rem;
        }
    }
}

.mainTextLoop {
    // margin-bottom: 4rem;

    .word {
        display: inline-block;
        white-space: pre;
        // margin: 0 .2rem;
    }

    .poem {
        white-space: pre;
    }

    &.colourContainer {
        margin-left: 3rem;
    }

    &.sliderContainer {
        margin-left: 3rem;
    }
}

.mainTextSlides {
    // margin-bottom: 4rem;

    .word {
            display: inline-block;
            white-space: pre;
            // margin: 0 .2rem;
    }

    .poem {
        white-space: pre;
    }

    .poemTitle {
        height: 6rem;
    }
}


.panel {
    height: 3rem;
    width: 28rem;
    // border: 1px solid #000;
    border-radius: .2rem;
    background: $bgColour;
    position: fixed;
    bottom: 10%;
    right: calc(50% - 14rem);
    margin: auto;
    display: flex;
    gap: .2rem;
    align-items: center;
    justify-content: space-around;
    padding: .2rem .5rem;

    input[type="color"] {
        appearance: none;
        background-color: transparent;
        width: 2rem;
        cursor: pointer;
    }
}

.colourContainer {
    font-size: .7rem;
    color: $fillColourLight;
    display: flex;
    // flex-direction: column;
    align-items: center;
    gap: .2rem;

// input {
//     appearance: none;
//     background-color: transparent;
//     width: 2rem;
//     cursor: pointer;
// }
}

.sliderContainer {
    font-size: .7rem;
    color: $fillColourLight;
    display: flex;
    flex-direction: column;
    gap: .2rem;

}


.slider {
    appearance: none;
    width: 100%;
    height: 10px;
    background: $fillColourLight;
    accent-color: $highlightColour; 
    cursor: pointer;
}

.mainTextLines {
    // height: 100%;

    .word {
        display: inline-block;
        white-space: pre;
        // margin: 0 .2rem;
    }

    .poem {
        white-space: pre;
    }

    .stanza {
        padding-bottom: 2rem;
    }
}

.bigContainerFlex {
    margin: auto;
    margin-left: 18rem;
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.smallContainerFlex {
    // margin: auto;
    padding-left: 10rem;
    width: fit-content;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    // padding-left: 5rem;

    .poemTitle {
        padding-left: 1.3rem;
    }
}