.poemContainer {
    margin-bottom: 2rem;
    .poem {
        white-space: pre;
        // margin-bottom: 2rem;
    }
}

.button {
    border: 1px solid #000;
    cursor: pointer;
    width: fit-content;
    margin: auto auto 1rem auto;

    &:hover {
        background-color: greenyellow;
        color: #fff;
    }
}

