.pageContent {
  background-color: #234d20;
  height: 100%;
}

.foliageContainer {
    // background-color: green; /* Warm, off-white background color */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .foliageText {
    font-size: 1.2rem;
    font-family: monospace; /* Replace with your desired retro-looking monospace font */
    letter-spacing: 3px;
    
    text-align: center;
  }

  .foliageText1 {
    animation: flickering-text 3s infinite;
    animation-direction: alternate;
  }

  .foliageText2 {
    animation: none;
    letter-spacing: 5px;
    // font-style: italic;
    font-size: 1rem;
    animation: half-flickering-text 3s infinite;
    animation-direction: alternate;
  }

  .foliageText3 {
    animation: flickering-text 3s infinite;
    animation-direction: alternate-reverse;
  }
  
  @keyframes flickering-text {
    0% {
      
      color: #f0f7da; /* Initial shade of green */
      letter-spacing: 1px;
    }
    25% {
      color: #36802d; /* Flickering shade of yellow */
      letter-spacing: 3px;
    }
    50% {
      color: #77ab59; /* Final shade of green */
      letter-spacing: 2px;
    }
    100% {
      color: #c9df8a; /* Flickering shade of yellow */
      letter-spacing: 3px;
    }
  }

  @keyframes half-flickering-text {
    0% {
      color: #234d20;
    }
    25% {
      color: #36802d; /* Flickering shade of yellow */
    }
    50% {
      color: #77ab59; /* Final shade of green */
    }
    75% {
      color: #f0f7da; /* Initial shade of green */
      
    }
    100% {
      color: #c9df8a; /* Flickering shade of yellow */
    }
  }