.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: .8rem;
    margin-top: .2rem;

    .buttonsContainer {
        display: flex;
        flex-wrap: nowrap;
        gap: .3rem;
    }

    .promptContainer {
        margin-top: .2rem;
        display: flex;
        gap: .2rem;
        align-items: center;
        input {
            width: 7rem;
        }
    }

    .button {
        border: 1px solid #fff;
        color: #fff;
        cursor: pointer;

        &:hover {
            background-color: greenyellow;
            color: #000;
        }
    }
}