
.catsContainer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--border);
    width: 100%;
    // margin-left: 1rem;
    // margin-right: 1rem;
  }
  
  
  .link {
    flex-grow: 1;
    display: flex;
    width: auto;
    justify-content: center;
    height: auto;
    // padding: 5px;
    // margin: .2rem;
    border: 1px solid white;
    // flex: 1;

    a {
        cursor: default;
    }
  
    &.selectedCat {
      background-color: white;
  
      .linkText {
        color: var(--navtext-highlight);
      }
    }
  
    &:hover {
      background-color: var(--border-highlight);
  
      .linkText {
        color: var(--navtext-highlight);
      }
    }
  }
  
  .linkText {
    color: var(--navtext-colour);
    font-size: .7rem;
  }

  .show {
    display: flex;
  }
  
  .hidden {
    display: none;
  }

  @media (min-width: 768px) {
  
    .catsContainer {
      display: flex;
      width: auto;
    }
  
    .linkText {
      font-size: 1.2em;
    }
  }
  