.link {
    border: 1px solid white;
    color: var(--navtext-colour);

    a {
        cursor: default;
    }
  
    &:hover {
      background-color: var(--border-highlight);
        color: var(--navtext-highlight);
    }
  }


.footerButtons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
}

.footerText {
    color: var(--navtext-colour);
}