.link {
    border: 1px solid white;
    color: var(--navtext-colour);
    cursor: pointer;

    &.selectedButton {
      background-color: var(--border-highlight);
      color: var(--navtext-highlight);
    }
  
    &:hover {
      background-color: var(--border-highlight);
      color: var(--navtext-highlight);
    }
  }

.burgerIcon {
  color: var(--navtext-colour);
  font-size: var(--buttons-text-size-mob);
  cursor: pointer;

  &:hover {
    color: var(--navtext-highlight);
  }
}

.footerButtonsContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
}

.footerButtons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: right;
  font-size: var(--buttons-text-size-mob);
}

.footerText {
    color: var(--navtext-colour);
    font-size: var(--footer-text-size-mob);
}


@media (min-width: 769px) {

  .footerText {
    font-size: var(--footer-text-size-desk);
}

  .footerButtons {
    font-size: var(--buttons-text-size-desk);
  }

  .burgerIcon {
    font-size: var(--buttons-text-size-mob);
  }
}
