
.globalContainer {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Lexend', sans-serif;
    overflow: visible;
  }

.main {
  margin-bottom: 2rem;
}