
.grid {
    display: grid;
    grid-template-columns: var(--border-size-mob) auto 1rem var(--border-size-mob);
    grid-template-rows: var(--border-size-mob) fit-content(var(--border-size-mob)) auto var(--border-size-mob);
    grid-template-areas: ". subtitle title ."
                         ". mobile-catbar mobile-catbar ."
                         ". main-content main-content ."
                         ". footer-text footer-buttons ."
}

.navbarSubtitle { 
    background-color: var(--border);
    display: flex;
    align-items: center;
    justify-content: left;
    grid-area: subtitle;
    position: fixed;
    top: 0;
    left: var(--border-size-mob);
    height: var(--border-size-mob);
    width: 100%;
    z-index: 1;
}

.navbarTitle {
    background-color: var(--border);
    display: flex;
    align-items: center;
    justify-content: right;
    grid-area: title;
    position: fixed;
    top: 0;
    right: var(--border-size-mob);
    height: var(--border-size-mob);
    // width: 100%;
    z-index: 1;
}

.mobileCatbar {
    grid-area: mobile-catbar;
}

.mainContent {
    // overflow-y: scroll;
    // overflow-x: hidden;
    background-color: var(--main-bg);
    grid-area: main-content;
    padding-bottom: var(--border-size-mob);
}

.footerText {
    background-color: var(--border);
    display: flex;
    align-items: center;
    justify-content: left;
    position: fixed;
    bottom: 0;
    left: var(--border-size-mob);
    height: var(--border-size-mob);
    width: 100%;
    grid-area: footer-text;
    
}

.footerButtons {
    display: flex;
    align-items: center;
    justify-content: right;
    position: fixed;
    right: var(--border-size-mob);
    bottom: 0;
    background-color: var(--border);
    grid-area: footer-buttons;
}

@media (min-width: 966px) {
    .grid {
        grid-template-columns: var(--border-size-desk) auto 1rem var(--border-size-desk);
        grid-template-rows: var(--border-size-desk) fit-content(var(--border-size-desk)) auto var(--border-size-desk);  
    }

    .mainContent {
        padding-bottom: var(--border-size-desk);
    }

    .footerButtons {
        right: var(--border-size-desk);
        height: var(--border-size-desk);
    }

    .footerText {
        left: var(--border-size-desk);
        height: var(--border-size-desk);
    }

    .navbarSubtitle {
        left: var(--border-size-desk);
        height: var(--border-size-desk);
    }

    .navbarTitle {
        right: var(--border-size-desk);
        height: var(--border-size-desk);
    }
}