.navbarContainer {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: last baseline;
  justify-content: center;
  background-color: var(--border);
  margin-left: 5%;
  padding-top: .5rem;
  padding-bottom: 1rem;
  padding-left: 0;
  padding-right: .5rem;
}

.title {
  display: flex;
  width: auto;
  height: auto;
  padding: 5px;
  padding-bottom: 6px;
  margin-left: 0;
  margin: .2rem;
  border: 1px solid white;
  color: var(--navtext-colour);

  &:hover {
    background-color: var(--border-highlight);

    .titleText {
      color: var(--navtext-highlight);
    }
  }
}

.titleMain {
  margin: 0;
}

.titleSub {
  text-align: right;
  margin: 0;
  font-size: .7rem;
}

.burgerButton {
  display: flex;
  width: auto;
  height: auto;
  padding: 5px;
  margin-left: 0;
  margin: .2rem;
  border: 1px solid white;
  color: var(--navtext-colour);

  &:hover {
    background-color: var(--border-highlight);

    .titleText {
      color: var(--navtext-highlight);
    }
  }
  margin-left: 0;
  margin: .2rem;
  color: var(--navtext-colour);
}


@media (min-width: 900px) {

  .titleSub {
    font-size: 1rem;
  }

  .burgerButton {
    display: none;
  }
}