
.subtitleContainer {
  display: flex;

  
}

.subtitle {
  color: var(--navtext-colour);
  font-size: var(--title-text-size-mob);
  white-space: nowrap;
  cursor: pointer;

  &:hover {
      color: var(--navtext-highlight);
  }
  
}

.subtitleIcon {
  color: var(--navtext-colour);
  font-size: var(--buttons-text-size-mob);
}

.title {
  font-size: var(--title-text-size-mob);
  text-align: right;
  white-space: nowrap;
  color: var(--navtext-colour);
  cursor: pointer;

  &:hover {
      color: var(--navtext-highlight);
  }
}

@media (min-width: 769px) {

  .title,
  .subtitle {
    font-size: var(--title-text-size-desk);
  }

  .subtitleIcon {
    font-size: var(--buttons-text-size-desk);
  }

}