 .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main-bg);
    width: 70%;
    margin: .5rem;
}

.textContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // flex-direction: column;
    background-color: transparent;
    width: 100%;
    color: black;

    a {
        text-decoration: underline;
    }
}
  
.image {
    max-height: 100%;
    max-width: 100%;
}
  
.title {
    font-size: 1rem;
    padding-bottom: 0;
    background-color: var(--main-bg);

}

.blurb {
    font-size: 1rem;
    background-color: var(--main-bg);
    width: 100%;
    
    p {
        margin: .5rem;
    }
}

  

@media (min-width: 1024px) {
    .container {
        flex-wrap: nowrap
    }
    
    .image {
        border: 1px solid #000;
        height: 300px;
        width: 300px;
        object-fit: cover;
    }
    
    .title {
        font-size: 1rem;
    }

    .blurb {
        font-size: 1rem;
    }
  }