
.container {
  .title {
    color: var(--text-colour);
    font-size: 2rem;
  }

  p {
    color: var(--text-colour);
    font-weight: 300;
  }

  .content {
    color: var(--text-colour);
  }

  iframe {
    display: flex;
    align-self: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}