 
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    width: 70%;
    margin: .5rem;
}

.textContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid #000;
    background-color: var(--main-bg);
    padding: 10px;
    margin: 1rem;
  // max-width: 50%;

  a {
    text-decoration: underline;
  }
}
  
  .image {
    border: 1px solid #000;
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin: 1rem;
  }
  
  .title {
    font-size: 1rem;
  }

  .blurb {
    display: inline;
    font-size: .8rem;
  }

  

  @media (min-width: 1024px) {
    .container {
      flex-wrap: nowrap;
      width: 70%;
      justify-content: left;
    }
    
    .image {
      border: 1px solid #000;
      height: 300px;
      width: 300px;
      object-fit: cover;
    }
    
    .title {
      font-size: 1rem;
    }

    .blurb {
      font-size: .8rem;
    }
  }