.container {
  background-color: var(--3);
  margin: 2rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;

  .title {
    color: var(--text-colour);
    font-size: 2rem;
  }

  p {
    color: var(--text-colour);
    font-weight: 300;
  }

  iframe {
    display: flex;
    align-self: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
