 .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main-bg);
    width: 70%;
    margin: .5rem;
}

.textContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // flex-direction: column;
    background-color: transparent;
    width: 100%;
    color: black;

    a {
        text-decoration: underline;
    }

    
}

.fakeSpan {
    display: inline-block;
    width: 100%;
    background-color: var(--main-bg);
}
  
.image {
    margin-top: .83rem;
    max-height: 100%;
    max-width: 100%;
    border-top: 2px solid var(--main-bg);
    border-bottom: 2px solid var(--main-bg);
    cursor: pointer;
}
  
// .titleBg {
//     background-color: var(--main-bg);
//     width: 100%;
// }

.title {
    font-size: 1rem;
    padding-bottom: 0;
    background-color: var(--main-bg);
    text-align: center;
    width: auto;

}

.blurb {
    font-size: 1rem;
    background-color: var(--main-bg);
    width: 100%;
    margin-bottom: .5rem;
    text-align: center;
    
    p {
        margin: .83rem;
    }
}

  

@media (min-width: 1024px) {
    .container {
        flex-wrap: nowrap;
        background-color: var(--main-bg);
    }
    
    .image {
        border: 1px solid #000;
        height: 300px;
        width: 300px;
        object-fit: cover;
        margin-top: 0;
    }
    
    .title {
        font-size: 1rem;
    }

    .blurb {
        font-size: 1rem;
        background-color: transparent;
    }
  }