.container {
    align-self: center;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    height: 100%;
    align-items: center;
    margin: auto;

    a {
        text-decoration: underline;
    }

    .title {
        color: var(--text-colour);
        font-size: var(--body-title-text-size);
        background-color: var(--main-bg);
        text-align: center;
        border: 2px solid var(--border);
        
    }

    .itemContainer {
        display: flex;
        // flex-wrap: nowrap;
    }

    p {
        background-color: var(--main-bg);
        color: var(--text-colour);
        font-size: var(--body-text-size);
        font-weight: 300;
        flex-shrink: 1;
    }

    img {
      border: 2px solid #000;
    //   float: left;
    //   max-height: 100%;
    height: auto;
      width: 100%;
    }

    iframe {
    //   display: flex;
    //   align-self: center;
    // min-height: 400px;
    height: 100%;
      width: 100%;
    //   margin-left: auto;
    //   margin-right: auto;
    }
}

.content {
    padding: .5rem;
    color: var(--text-colour);
    background-color: var(--main-bg);
    // width: 100%;
    height: 100%;
    border: 2px solid var(--border);
    margin: .5rem;
}

// .allContent.poems-in-anthologies {
//     display: flex;
// }

// .poems-in-anthologies {
//     display: flex;
// }

@media (min-width: 1024px) {
    .container {
        width: 70%;
    }
}