.pageContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg);

  a {
    text-decoration: underline;
  }
}

.intro {
    padding: .5rem;
    display: flex;
    color: var(--text-colour);
    border: 1px solid #000;
    margin: 1rem;
}

.postsContainer {
    text-align: left;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
}

.poemsListContainer {
  margin-left: var(--border-size-mob);
  margin-right: var(--border-size-mob);
}

@media (min-width: 1024px) {
  .poemsListContainer {
    margin-left: var(--border-size-desk);
    margin-right: var(--border-size-desk);
  }
}
