// .pageContainer {
//     background-color: var(--border);
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     min-height: 80%;
    
// }

// .pageContent {
//     width: 80%;
//     background-color: var(--main-bg);
//     padding-bottom: 4rem;
// }

// .pageContainer {
//   background-color: var(--border);
//   display: flex;
//   justify-content: center;
//   position: absolute;
//   height: 100%;
//   width: 100%;
// }

.pageContent {
  display: flex;
  flex-direction: column;
  position: relative;
  // height: 100%;
  // width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  // margin-bottom: 4.2rem;
  background-color: var(--main-bg);
  // padding-bottom: 4rem;
}
.intro {
    padding: .5rem;
    display: flex;
    color: var(--text-colour);
    border: 1px solid #000;
    margin: 1rem;
}

.postsContainer {
    text-align: left;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
}

