
.homeContent {
    padding: 1rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    // max-width: 100%;
    align-self: right;
    
    p {
        background-color: var(--main-bg);
        // text-align: justify;
        padding: .5rem;
        // width: 100%;
    }



}

.pageContent {
    padding: 1rem;
    a {
      text-decoration: underline;
    }
}

.contentMailingList {
    text-align: center;
}

.content {
    background-color: var(--main-bg);
}



.imageCredit {
    color: var(--main-bg);
    position: fixed;
    top: 92%;
    right: 10%;
}

.bgImage {
    height: 100%;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10;
    background-attachment: fixed;
}

.mainContent {
    
    .contentBit {
        background-color: var(--main-bg);
        width: fit-content;
        padding: .3rem;
        text-align: left;
    }
    .heading {
        font-size: larger;
        // width: 100%;
        margin-bottom: 2rem;
    }

    .bioBlurb {
        width: 40%;

    }

    .notProf {

        // width: 33%;
        // text-align: right;
        position: fixed;
        width: 35%;
        top: 30%;
        right: 10%;
        margin-bottom: 1rem;
    }

    .enjoy {
        background-color: var(--main-bg);
        position: absolute;
        right: 10%;
        top: 85%;
    }
}

@media (min-width: 768px) {
    .bgImage {
        height: 100%;
        margin: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 10;
    }

}