.pageContent {
    font-size: var(--body-text-size);
    padding: 1rem;

    h2 {
        font-size: var(--body-title-text-size);
    }
}


.bgImage {
    height: 100%;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10;
    background-attachment: fixed;
}

@media (min-width: 768px) {
    .bgImage {
        height: 100%;
        margin: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 10;
    }
}