.pageContainer {
    background-color: var(--border);
    display: flex;
    justify-content: center;
    position: absolute;
    min-height: 80%;
    width: 100%;
  }
  
  .pageContent {
    display: flex;
    position: relative;
    width: 80%;
    background-color: var(--main-bg);
    padding-bottom: 4rem;
  }