$bg-img: url('../../../public/tg/down-arrow.png');

.button {
    border: 1px solid #fff;
    cursor: pointer;
    width: fit-content;
    margin: auto;
    color: #fff;

    &:hover {
        background-color: greenyellow;
        color: #000;
    }
}

.generatorGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "show-src n-slider n-slider form-input"
                         "show-src form-style reseed gen-buttons"
                        "show-src form-style reseed gen-buttons";
    gap: .5rem; 

    select {
        appearance: none;
        width: 6rem;
        background: gray;
        color: #fff;
        border: none;
        // background: $bg-img no-repeat right .1rem top 80%;

        &:focus {
            outline: none;
        
        }
    }
}

.showSrcButton {
    grid-area: show-src;

    .button {
        width: 10rem;
        height: 5rem;
    }
}

.nLevelSlider {
    grid-area: n-slider;
}

.genButtons {
    grid-area: gen-buttons;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.formInput {
    grid-area: form-input;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    height: 1.2rem;
    font-size: .8rem;
    
    input {
        width: 5.3rem;
    }
}

.formStyleToggle {
    grid-area: form-style;
    font-size: .7rem;
    display: flex;
    flex-direction: column;
}

.reseedToggle {
    grid-area: reseed;
    font-size: .7rem;
}