.pageContainer {
    margin: 0;
    background-color: #fff;
    height: 100%;
    width: 100%;
}

.pageContent {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url('/waves.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.waves {
    // position: fixed;
    object-fit: fill;
    object-position: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: #000080;
    z-index: 1000;
    font-weight: 600;
    font-size: clamp(1rem, 5vw, 3rem);
}