// @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;500;800&display=swap');

:root {
  --1: #af2e1b;
  --2: #cc6324;
  --3: #3b4b59;
  --4: #bfa07a;
  --5: #d9c3b0;
  --6: #736b1e;
  --text-colour: white;
}

.global-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Lexend', sans-serif;
  overflow: visible;
}

body {
    margin: 0;
    width: auto;
    background-color: var(--4);
    font-family: sans-serif;
    overflow: visible;
  }

a {
  color: black;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}