$bgColour: #131b23;
$outlinesColour: #e9f1f7;
$fillColourLight: #e7dfc6;
$highlightColour: #517b1d;
$highlightExtra: #2274A5;
$screenColour: #002400;

.statusBar {
    font-size: .6rem;
    margin-top: 9px;
    // background-color: $highlightExtra;
    // width: 12rem;
    
    .bar {
        font-size: .8rem;
        font-family:'Courier New', Courier, monospace;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $screenColour;
        border: $outlinesColour 1px solid;
        width: 12rem;
        height: 2.4rem;
        color: $fillColourLight;
    }

}