.statusBar {
    
    .bar {
        display: flex;
    justify-content: center;
    align-items: center;

        border: green 1px solid;
        width: 12rem;
        height: 2.4rem;
        color: green;
    }

}