$bgColour: #131b23;
$outlinesColour: #e9f1f7;
$fillColourLight: #e7dfc6;
$highlightColour: #517b1d;
$highlightExtra: #2274A5;

.container {
    // width: 14rem;
    display: flex;
    justify-content: flex-end;
    // border: $fillColourLight 1px solid;
    text-align: right;
    // margin-top: .2rem;
    // margin-left: 1rem;
    // padding: .1rem;
    // background-color: $highlightExtra;
    color: $outlinesColour;
    display: flex;

    .logo {
        margin-left: .4rem;
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        // width: 12rem;
        padding-left: .7rem;
        padding-right: .2rem;
        // padding-top: .3rem;

        .topLine {
            font-family: var(--league-spartan);
            font-weight: 800;
            font-size: 1.7rem;
            font-style: italic;
            color: $highlightExtra;
            text-shadow: 1px 1px 0px $fillColourLight;

        }

        .bottomLine {
            font-weight: 400;
            font-size: .6rem;
            text-align: right;
        }
}
}