$bgColour: #131b23;
$outlinesColour: #e9f1f7;
$fillColourLight: #e7dfc6;
$highlightColour: #517b1d;
$highlightExtra: #2274A5;

.container {
    width: 16rem;
    text-align: right;
    margin-top: .2rem;
    padding: .1rem;
    // background-color: $highlightExtra;
    color: $fillColourLight;
    display: flex;

    .textContainer {
        display: flex;
        flex-direction: column;
        padding-left: .7rem;
        padding-top: .3rem;

        .topLine {
            font-family: var(--league-spartan);
            font-weight: 800;
            font-size: 1.3rem;
        }

        .bottomLine {
            font-weight: 400;
            font-size: .7rem;
            text-align: right;
        }
}
}